body {
	margin: 0;
	background-image: url(https://images.pexels.com/photos/716661/pexels-photo-716661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-repeat: no-repeat;
	background-size: cover;
}

.ex-body{
	background-image: url(https://images.pexels.com/photos/1112048/pexels-photo-1112048.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

a i{
	padding: 15px;
	color: #EAE6E5;
	transition: 300ms;
}

a i:hover{
	color: #333;
	transition: 300ms;
	font-size: 250%;
}

nav {
  float: right;
	padding-right: 25px;
	background-color:#EAE6E5;
	padding-bottom: 12px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a::before {
  content: '';
  display: block;
  height: 6px;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.navbar {
	width: 100vw;
	margin: 0 auto;
}

header::after {
  content: '';
  display: table;
	clear: both;
}

.content{
	text-align: center;
	padding-top: 10%;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #EAE6E5;
	letter-spacing: 6px;
	font-weight: 400;
	font-size: 450%;
}

.title{
	text-align: center;
	padding-top: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #EAE6E5;
	letter-spacing: 6px;
	font-weight: 400;
	font-size: 350%;
}

.footer {
   position: fixed;
	 text-align: right;
   bottom: 0;
   width: 100%;
   color: #EAE6E5;
}

.icon{
	display: inline-block;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	margin: auto;
}

.text{
	display: inline-block;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	margin: auto;
}


.grid {
    box-sizing: border-box;
		margin: auto;
}

.leftbox{
	float: left;
	width: 50%;
	padding: 10px;
	box-sizing: border-box;
	text-align: left;
	padding-right: 25px;
	height: 100px;
	flex-direction: row;
	margin: auto;
}

div.info {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
	color: white;
	text-shadow: 1.5px 1px black;
	font-size: 120%;
}

.infoicon {
	margin: 0 0 0 16px;
	margin-bottom: 80px;
	/* padding-right: 20px; */
}

.info p {
  margin: 0 0 0 18px;
}

.rightbox{
	float: left;
	width: 50%;
	padding: 10px;
	box-sizing: border-box;
	text-align: left;
	padding-left: 35px;
	height: 100px;
	flex-direction: row;
	margin: auto;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 800px) {
    .rightbox, .leftbox {
        width: 100%;
    }
}
