body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
    /*background: linear-gradient(141deg, #0fb8ad 0%, #22e4f9 51%, #2cb5e8 75%); */
  /* background: linear-gradient(141deg, #650000 0%, #660066 51%, #66009c 75%); */
   background: linear-gradient(141deg, #019e69 0%, #22fcb7 51%, #2ad3b1 75%);
}

.window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1, h2, h3, p, a, label{
    font-family: 'Patua One';
    color: #fff;
}

div.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 4px;
  max-width: 900px;
}

.container label {
  background-color: #ff0000;
  padding: 10px;
  cursor: pointer;
}

p.infotext {
  text-align: center;
  font-size: 15px;

}

div.cv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}

.cv i {
  color: white;
}

.cv i::before {
  width: 80px;
  display: flex;
  justify-content: center;
}

.cv h3 {
  margin: 0 0 0 16px;
}

div.containercv {
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
}
